<h2>Add Talk Attendances</h2>

<%= form_for(@attendance) do |f| %>
  <p>
  <%= f.label :talk, "Talk" %>
  <% talks = @talks.map {|talk| [talk.title, talk.id] }%>
  <%= f.select(:talk_id, options_for_select(talks)) %> <br>

  <%= f.label :presenter, "Presenter" %>
  <%= f.radio_button :presenter, :true %><label>Yes</label>
  <%= f.radio_button :presenter, :false, checked: true %><label>No</label>
  </p>

  <p>
  <%= f.label :attendee, "Attendee" %>
  <% attendees = @attendees.map {|attendee| [attendee.name, attendee.id] }%>
  <%= f.select(:attendee_id, options_for_select(attendees)) %> <br>
  </p>

  <%= f.submit "Submit" %>

<% end -%>


